Azure DataFactory/DataFactory Repo/pipeline/Module_07_PL_Incremental_File_Load_TO_ADLS.json
{
	"name": "Module_07_PL_Incremental_File_Load_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "ACT_Lookup_Watermark_Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastModifiedDateTime FROM FileWatermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LS_AzureSQLDB_Watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_Copy_DataLake_Json",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_Lookup_Watermark_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('ACT_Lookup_Watermark_Table').output.firstRow.LastModifiedDateTime",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 4
				},
				"inputs": [
					{
						"referenceName": "DS_AzureBlob_JSON_Input",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureDataLake_JSON_Output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_Update_Watermark_Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_Copy_DataLake_Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedDateTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ABC": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MODULE 7"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-24T14:26:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}